* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #111;
  background: #fff;
}

button {
  cursor: pointer;
  background: #111;
  color: #fff;
  border: none;
}

button:hover {
  background: #333;
}
